header nav .nav__logo a, header nav .nav__user a, header nav .nav__login a:first-of-type, header nav .nav__login a:last-of-type {
  display: block;
  text-decoration: none;
  border-radius: 5rem;
  text-align: center;
  line-height: 4rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  height: 8rem;
  color: #4e4c4c;
}
footer .socials .fab {
  margin-right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  color: #4e4c4c;
}
footer .logo {
  height: 6rem;
}
footer .logo img {
  height: 100%;
}
footer nav {
  height: 100%;
  padding: 0.5rem;
}
footer nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
footer nav ul li {
  height: 2rem;
}
footer nav ul li a {
  display: block;
  text-decoration: none;
  height: 100%;
  line-height: 2rem;
  color: #4e4c4c;
}

header {
  height: 8rem;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem 1rem;
  background: #fff;
}
header nav .nav__login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .nav__login a:last-of-type {
  width: 10rem;
  height: 4rem;
  background-color: #ed4b4b;
  margin-left: 0.5rem;
  color: #fff;
  margin-left: 1rem;
}
header nav .nav__login a:first-of-type {
  width: 10rem;
  height: 4rem;
  color: #1592ff;
  border: 1px solid #1592ff;
  padding: 0 1rem;
}
header nav .nav__user a {
  width: 10rem;
  height: 4rem;
  background-color: #ed4b4b;
  margin-left: 0.5rem;
  color: #fff;
}
header nav .nav__logo a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav__logo a img {
  height: 6rem;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.team::after {
  content: "";
  width: 100%;
  height: 50%;
  display: none;
  background-color: #1592ff;
  position: absolute;
  top: 0;
  z-index: -1;
}
.team h1 {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 90%;
}
.team .members .card {
  padding: 1rem;
  text-align: center;
}
.team .members .card img {
  border-radius: 50%;
  margin-bottom: 2rem;
  width: 200px;
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  position: relative;
}

.mission {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mission h2 {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.mission p {
  padding: 1rem 2rem;
  text-align: justify;
  max-width: 70rem;
}

/*# sourceMappingURL=about.css.map */
