
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');        * {
          box-sizing: border-box;
          font-family: 'Lato', sans-serif;
          margin: 0;
        }
        
        body {
          background-color: #b8c6db;
          background:linear-gradient(0deg, rgba(255, 250, 253, 0.486), rgba(236, 231, 231, 0.253)), url(../assets/ruthie-a6mfMjCFkII-unsplash.jpg);
          background-size: cover;
          /* background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%); */
          font-family: 'Lato', sans-serif;
        }

        header {
            background-color: white;
            margin: 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav__login {
            text-decoration: none;
            color: white;
            width: 10rem;
        }

        .nav__login a{
            background-color: #ed4b4b;
            width: 10rem;
            text-decoration: none;
            color: white;
            padding: 10px 15px;
            border-radius: 10px;
        }

        header img {
            height: 5rem;
            margin: 10px;
            margin-top: 15px;
            margin-left: 3rem;
        }

        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 89vh;
            overflow: hidden;
            margin: 0;
        }
        
        .quiz-container {
            margin-top: -100px;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
          width: 600px;
          max-width: 95vw;
          overflow: hidden;
        }
        
        .quiz-header {
          padding: 4rem;
        }
        
        h2 {
          padding: 1rem;
          text-align: center;
          margin: 0;
        }
        
        ul {
          list-style-type: none;
          padding: 0;
        }
        
        ul li {
          font-size: 1.2rem;
          margin: 1rem 0;
        }
        
        ul li label {
          cursor: pointer;
        }
        
        button {
          background-color: #ed4b4b;
          color: #fff;
          border: none;
          display: block;
          width: 100%;
          cursor: pointer;
          font-size: 1.1rem;
          font-family: inherit;
          padding: 1.3rem;
        }
        
        button:hover {
          background-color:#486497;
        }
        
        button:focus {
          outline: none;
        }

        .hide {
            display: none;
        }


        .progress {
            margin: 10px 0;
            background: inherit;
            grid-row: 2;
            padding: 10px;
            
            grid-column: span 5;
          }
          .progress > p {
            background: inherit;
            margin-bottom: 5px;
            opacity: 0.9;
            font-size: 0.95em;
            line-height: 1.25em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        
          p > span {
             line-height: 1.25em;
             margin-top: 2%;
             font-size: 0.85em;
             color: rgba(99, 99, 99, 0.8);
              background: inherit;
            
              }
          .value {
            vertical-align: text-top;
             width: -webkit-fill-available;
              -webkit-appearance: none;
              appearance: none;
              border:none;
              border-radius:10px;  
              height:30px;
          }
          .progress ::-webkit-progress-bar {
                border-radius: 10px;
                background-color:  rgba(99, 99, 99, 0.5);
              }  
             .progress ::-webkit-progress-value{
               border-radius: 10px;
              }

              .hide {
                  display: none;
              }

              .style {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: white;
                border-radius: 10px;;
                position: absolute;
                right: -25vh;
                width: 25vh;
                height: 80vh;
                bottom: 10vh;
                border: 2px solid green;
                -webkit-animation: slide 0.5s forwards;
                -webkit-animation-delay: 2s;
                animation: slide 0.5s forwards;
                animation-delay: 1s;
                z-index: 9999;
              }

              @-webkit-keyframes slide {
                100% { right: 0 }
               }
   
               @keyframes slide {
               100% { right: 0; }
               }

               .style h1, p {
                margin: 10px;
                text-align: center;
               }

               .style p {
                color: green;
                font-size: xx-large;
               }

               .style div {
                   display: flex;
                   flex-direction: column;
               }
              .style img {
                  text-align: center;
                  width: 22vh;
                  margin: 10px;
              }

              .style h4 {
                margin: 10px;
                text-align: center;
                line-height: 1.5rem;
              }

              .buttonGr {
                  display: flex;
                  justify-content: space-evenly;
              }

              .btn {
                background-color: #8fcbfc; 
                color: white; 
                border-radius: 10px; 
                width: 30vh; 
                margin-top: 10px;
              }
