header nav .nav__login a:last-of-type, header nav .nav__login a:first-of-type, header nav .nav__user a, header nav .nav__logo a {
  display: block;
  text-decoration: none;
  border-radius: 5rem;
  text-align: center;
  line-height: 4rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-top: 2px solid #1592ff;
  height: 8rem;
}

footer .socials .fab {
  margin-right: 1rem;
  font-size: 3rem;
}

footer .logo {
  height: 6rem;
}

footer .logo img {
  height: 100%;
}

footer nav {
  height: 100%;
  padding: 0.5rem;
}

footer nav ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav ul li {
  height: 2rem;
}

footer nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  height: 100%;
  line-height: 2rem;
  color: #18130e;
}

header {
  height: 8rem;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  border-bottom: 2px solid #1592ff;
  z-index: 100;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 1rem 1rem;
  background: #fff;
}

header nav .nav__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav__login a:last-of-type {
  width: 10rem;
  height: 4rem;
  background-color: #ed4b4b;
  margin-left: 0.5rem;
  color: #fff;
  margin-left: 1rem;
}

header nav .nav__login a:first-of-type {
  width: 10rem;
  height: 4rem;
  color: #1592ff;
  border: 1px solid #1592ff;
  padding: 0 1rem;
}

header nav .nav__user a {
  width: 10rem;
  height: 4rem;
  background-color: #ed4b4b;
  margin-left: 0.5rem;
  color: #fff;
}

header nav .nav__logo a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .nav__logo a img {
  height: 6rem;
}

:root {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}
/*# sourceMappingURL=about.css.map */