@import "../scss/base/variables";
@import "../scss/base/mixins";
@import "../scss/componenets/footer";
@import "../scss/componenets/nav";
@import "../scss/layout/categories";
:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: $font-text;
}
.map {
  width: 90%;
  margin: auto;
}
.achievment__funds {
  @include flex(column, center, center);

  h3 {
    color: $primary;
    font-size: 3rem;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
  }
  ul {
    list-style: none;

    margin: auto;
    @include flex(column, flex-start, center);
    li {
      text-align: left;
      font-size: 2rem;
      margin-bottom: 1rem;
      .fas {
        margin-right: 0.5rem;
      }
    }
  }
}
