.categories {
  @include flex(column, center, space-around);
  padding: 2rem;
  .category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-width: 35rem;
    margin: 1rem auto;
    text-align: center;

    width: 90%;

    h2 {
      margin-bottom: 2rem;
      text-align: center;
      height: 5rem;
      font-size: 4rem;
      font-weight: 900;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        text-align: center;
        color: rgb(255, 4, 4);
      }
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      img {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
.info {
  margin: 5rem auto;

  @include flex(column, center, space-evenly);
  &__testimonial {
    background-color: #faebd7;
    @include flex(column, center, space-around);
    width: 90%;
    margin: 1rem auto;
    padding: 2rem;
    gap: 1rem;

    p {
      width: 90%;
    }
    cite {
      display: block;
      margin-top: 1rem;
    }
    img {
      max-width: 90%;
    }
  }
  &__rank {
    margin: 2rem;
    ul {
      li {
        text-align: center;
        margin-top: 2rem;
      }
      list-style: none;
      @include flex(column, center, space-between);
    }
  }
}
@media (min-width: 768px) {
  .categories {
    @include flex(row, center, space-between);
    flex-wrap: wrap;

    .category {
      width: 40%;
    }
  }
  .info {
    &__testimonial {
      flex-direction: row;
      p {
        width: 50%;
      }
      img {
        width: 40%;
      }
    }
    &__rank {
      ul {
        flex-direction: row;
      }
    }
  }
}
