.stories {
  @include flex(column, center, center);
  text-align: center;
  background-color: antiquewhite;

  padding: 4rem 2rem;
  h2 {
    margin: 1rem auto;
    font-family: $font-header;
    font-size: 3rem;
  }
  p {
    text-align: center;
    margin: 2rem auto;
  }
  .stories__img {
    @include flex(column, center, center);
    width: 35rem;
    padding: 1rem;

    img {
      display: block;
      margin-bottom: 2rem;
      height: 80%;
      width: 100%;
      object-fit: cover;
      margin: 0 auto 2rem auto;
      border-radius: 2rem 2rem 0 0;
    }
    a {
      text-decoration: none;
      background-color: $secondary;
      color: #fff;

      font-size: 2rem;
      width: 100%;
      padding: 2rem 0;
      border-radius: 0 0 2rem 2rem;
      cursor: pointer;
    }
  }
}
.games {
  @extend .stories;
  background-color: #fff;
  h2 {
    margin: 2rem auto;
  }
  &__game {
    @include flex(column, center, center);
    cursor: pointer;

    padding: 1rem;
    img {
      display: block;
      margin-bottom: 2rem;

      width: 100%;
      object-fit: cover;
      margin: 0 auto 2rem auto;
      border-radius: 2rem;
    }
  }
}
@media (min-width: 768px) {
  .stories {
    flex-wrap: wrap;
    .stories__img {
      width: 40%;
    }
    @include flex(row, center, space-around);
    h2 {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
  .games {
    flex-direction: row;
    &__game {
      width: 40rem;
    }
  }
} ;
