//Color variables
$primary: #1592ff;
$buttuons: #ed4b4b;
$secondary: #8fcbfc;
$headerColor: #000;
$textColor: #18130e;
$bgColor: #cfd9e7;
$font-header: "Englebert", sans-serif;
$font-text: "Lato", sans-serif;

//
