footer {
  @include flex(row, center, space-around);
  background-color: #fff;

  height: 8rem;
  color: rgb(78, 76, 76);

  .socials {
    .fab {
      margin-right: 1rem;
      font-size: 3rem;
      cursor: pointer;
      color: rgb(78, 76, 76);
    }
  }
  .logo {
    height: 6rem;
    img {
      height: 100%;
    }
  }
  nav {
    height: 100%;
    padding: 0.5rem;

    ul {
      height: 100%;
      list-style: none;
      @include flex(column, flex-start, space-around);
      li {
        height: 2rem;
        a {
          display: block;
          text-decoration: none;

          height: 100%;
          line-height: 2rem;
          color: rgb(78, 76, 76);
        }
      }
    }
  }
}
