footer {
  @include flex(row, center, space-around);
  background-color: #fff;
  border-top: 2px solid $primary;
  height: 8rem;

  .socials {
    .fab {
      margin-right: 1rem;
      font-size: 3rem;
    }
  }
  .logo {
    height: 6rem;
    img {
      height: 100%;
    }
  }
  nav {
    height: 100%;
    padding: 0.5rem;

    ul {
      height: 100%;
      list-style: none;
      @include flex(column, center, space-around);
      li {
        height: 2rem;
        a {
          display: block;
          text-decoration: none;
          text-align: center;
          height: 100%;
          line-height: 2rem;
          color: $textColor;
        }
      }
    }
  }
}
