header {
  height: 8rem;
  position: sticky;
  width: 100%;
  top: 0;

  z-index: 100;
  nav {
    @include flex(row, center, space-between);
    height: 100%;
    padding: 1rem 1rem;
    background: #fff;
    .nav__login {
      @include flex(row, center, center);
      a {
        &:last-of-type {
          @extend %a;
          width: 10rem;
          height: 4rem;
          background-color: $buttuons;
          margin-left: 0.5rem;
          color: #fff;
          margin-left: 1rem;
        }
        &:first-of-type {
          @extend %a;
          width: 10rem;
          height: 4rem;
          color: $primary;
          border: 1px solid $primary;
          padding: 0 1rem;
        }
      }
    }
    .nav__user {
      span {
        position: absolute;
        right: 12rem;
        font-size: 4rem;
        color: rgb(101, 168, 0);
      }
      a {
        @extend %a;
        width: 10rem;
        height: 4rem;
        background-color: $buttuons;
        margin-left: 0.5rem;
        color: #fff;
      }
    }
    .nav__logo {
      a {
        @extend %a;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 6rem;
        }
      }
    }
  }
}
